In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#importing datasets
dataset = pd.read_csv('USA_Housing.csv')

In [4]:
df = pd.DataFrame(dataset)
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

In [8]:
#Extracting Independent and dependent Variable  
x = dataset.iloc[: , :-2].values
y = dataset.iloc[: , 5].values

In [9]:
df = pd.DataFrame(x, columns=["Avg. Area Income","Avg. Area House Age","Avg. Area Number of Rooms","Avg. Area Number of Bedrooms",
                              "Area Population"])
df.head()

   Avg. Area Income  ...  Area Population
0      79545.458574  ...     23086.800503
1      79248.642455  ...     40173.072174
2      61287.067179  ...     36882.159400
3      63345.240046  ...     34310.242831
4      59982.197226  ...     26354.109472

[5 rows x 5 columns]

In [10]:
df = pd.DataFrame(y, columns=["Price"])
df.head()

          Price
0  1.059034e+06
1  1.505891e+06
2  1.058988e+06
3  1.260617e+06
4  6.309435e+05

In [11]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

In [12]:
#Fitting the MLR model to the training set:  
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [13]:
#Predicting the Test set result;  
y_pred= regressor.predict(x_test)  

df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
print(df)

      Real Values  Predicted Values
0    8.942511e+05      9.713052e+05
1    9.329794e+05      9.547172e+05
2    9.207479e+05      9.075616e+05
3    6.918549e+05      4.932514e+05
4    7.327332e+05      7.178465e+05
..            ...               ...
995  7.549606e+05      8.391244e+05
996  1.205568e+06      1.142525e+06
997  6.682555e+05      4.986132e+05
998  1.398760e+06      1.235228e+06
999  1.277381e+06      1.156382e+06

[1000 rows x 2 columns]

In [14]:
# trying to predict the first x_test variable
pred= regressor.predict([[80000.642455,7.002900,7.730821,5.09,60173.072174]]).reshape(-1,1)
print("I predict for you : ", pred)

I predict for you :  [[2108571.11523648]]

In [15]:
#Checking the score  
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.918840114090963
Test Score:  0.9146454505138071

In [16]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_pred)
print("r2 socre is : ",score)
print("mean_sqrd_error is == ",mean_squared_error(y_test,y_pred))
print("root_mean_squared error of is == ",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 socre is :  0.9146454505138071
mean_sqrd_error is ==  10549721686.159266
root_mean_squared error of is ==  102711.83810135648